@font-face {
    font-family: 'Inter Variable';
    src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html, body {
    margin: 0;
    height: 100%;

    font-family: 'Inter Variable', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 8%);
}

.landing-box {
    width: 400px;
    height: 600px;
    display: flex;
    background-color: hsl(0, 0%, 12%);
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
}

.landing-box .username {
    color: white;
    font-size: 25px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;

    font-weight: 700;
}

.landing-box .location {
    color: hsl(75, 94%, 57%);

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    font-weight: 500;
    font-size: 14px;
}

.landing-box .description {
    color: white;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    font-size: 14px;
    font-weight: 400;
}

.landing-box img {
    aspect-ratio: 1;
    width: 25%;
    margin: 0 auto 0 auto;
    border-radius: 50%;

    margin-top: 40px;
}

.landing-box .button-redirect {
    display: flex;
    margin-bottom: 15px;
    background-color: hsl(0, 0%, 20%);
    height: 45px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    border-radius: 6px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.button-redirect:hover {
    background-color: hsl(75, 94%, 57%);
}

.button-redirect:hover p {
    color: hsl(0, 0%, 8%);
}

.button-redirect p {
    color: white;
    text-align: center;
    margin: auto auto auto auto;
}

.attribution {
    font-size: 11px; text-align: center;
    margin-top: 15px;
    color: white;
}

.attribution a {
    color: white;
}


@media screen and (max-width: 500px) {
    .landing-box {
        width: 90%;
    }

    .landing-box img {
        width: 30%;
    }
}


@media screen and (max-width: 300px) {
    .landing-box {
        width: 90%;
    }

    .landing-box img {
        width: 50%;
    }

    .landing-box {
        text-align: center;
    }
    
}
